@if map-get($optional, 'reset') == true {
	html { box-sizing: border-box }
	*, *:before, *:after { box-sizing: inherit }
	html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
	dt, dd, blockquote, address { margin: 0; padding: 0 }
	h1,h2,h3,h4,h5,h6 { font-size: inherit; font-weight: inherit; }
}

@if map-get($optional, 'global') == true {
	body {
		font-family: $global-font;
		font-size: $global-font-size;
		line-height: $global-line-height;
	}

	a {
		color: inherit;
	}
}