// Text Sizes

@include map-class('text', 'font-size', $font-sizes);
@include map-class-responsive('text', 'font-size', $font-sizes, $responsive-font-sizes-classes);

// Text colour

@include map-class('color', 'color', $colors);
@include map-class-responsive('color', 'color', $colors, $responsive-color-classes);

// Buttons

@include optional('btn') {
	text-decoration: none;
	line-height: 1em;
	padding: $global-button-padding;
}

@each $name, $value in $colors {
	.#{$prefix}btn-#{$name} {
		background-color: $value;
		color: map-get($background-text-color, $name);
	}
}

// Text Utility

@each $direction in ('left', 'right', 'center') {
	@include optional('text-'+$direction) {
		text-align: #{$direction};
	}
}