$breakpoints: (
	"l": 1200px,
	"m": 900px,
	"s": 640px
);

$font-sizes: (
	"l": 36px,
	"m": 22px,
	"s": 16px
);

$responsive-font-sizes-classes: ("l", "m");

$colors: (
	"primary": blue,
	"secondary": green,
	"light": white,
	"dark": black
);

$responsive-color-classes: ();

$margins: (
	"l": 100px,
	"m": 50px,
	"s": 15px
);

$locations: ("top", "right", "bottom", "left");

$responsive-margin-classes: ();