$prefix: '';

// Optional

$optional: (

	'reset': true,
	'global': true,

	'grid': true,
	'grid-reverse': true,

	'box': true,
	'container': true,

	'clearfix': true,

	'btn': true,

	'text-left': true,
	'text-right': true,
	'text-center': true

);

// Breakpoints

$breakpoints: (
	"l": 1200px,
	"m": 900px,
	"s": 640px
);

// Grid and Dimensions

$gutters: (
	's': 15px,
	'l': 35px
);

$widths: (
	"xxl": 1000px,
	"xl": 800px,
	"l": 500px,
	"m": 300px,
	"s": 150px,
	"xs": 50px
);

$responsive-width-classes: ();

$proportional_widths: (
	"1-2": 50%,
	"1-3": 33.333%,
	"1-4": 25%,
);

$responsive-proportional-width-classes: ("1-2", "1-3", "1-4");

$heights: (
	"l": 500px,
	"m": 250px,
	"s": 100px,
);

$responsive-height-classes: ();

// Spacing

$spacing: (
	"l": 100px,
	"m": 50px,
	"s": 15px
);

$locations: ("top", "right", "bottom", "left");

$responsive-spacing-classes: ();

// Colors

$colors: (
	"primary": blue,
	"secondary": green,
	"light": white,
	"dark": black
);

$responsive-color-classes: ();

$background-text-color: (
	"primary": map-get($colors, 'light'),
	"secondary": map-get($colors, 'light'),
	"light": map-get($colors, 'dark'),
	"dark": map-get($colors, 'light')
);

// Font Sizes

$font-sizes: (
	"l": 36px,
	"m": 22px,
	"s": 16px
);

$responsive-font-sizes-classes: ();

// Default Typography

$global-font: 'Lexend Deca', sans-serif;
$global-font-size: map-get($font-sizes, "s");
$global-line-height: 1.75em;

// Buttons

$global-button-padding: 6px 12px;

// Boxes

$global-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.12);
$global-box-radius: 6px;
$global-box-padding: map-get($spacing, "s") (map-get($spacing, "s") * 1.5);

// Container

$container-padding: map-get($spacing, "s");